
.container-fluid{
    background-color: #475841;
    margin: 0px;
    padding: 20px;
                }
    a{
        text-decoration: none;
        color: #9FB8AD;
        font-size: 30px;
        font-family: 'Gluten',cursive;
    }

main{
    background-color: #475841;
    padding-bottom: 20px;
    text-align: center;
}

    article
        .col-md-3-col-lg-3{
            background-color: green;
            border: 2px solid black;
                        } 

p{
    text-align: center;
}

a:hover{
    color: #3F403F;
}

h1{
    background-color: #3F403F;
    height: 100px;
    text-align: center;
    font-family: 'Gluten',cursive;
    padding: 30px;
    font-size: 50px;
}


h2{
    background-color: #3F403F;
    height: 20px;
    text-align: center;
    font-family: 'Gluten',cursive;
    font-size: 15px;
}

h3{
    height: 100px;
    font-size: 20px;
    text-align: center;
    font-family: 'Gluten',cursive;
}

h4{
    background-color: #9FB8AD;
    font-family: 'Gluten',cursive;
}

h5{
    font-size: 25px;
    font-family: 'Gluten',cursive;
    height: 50%;
}

footer{
    background-color: #3F403F !important;
    height: 100px;
}
